<as-split *ngIf="view==carto" direction="horyzontal">

    <as-split-area size="50">
        <app-gongleaflet-splitter></app-gongleaflet-splitter>
    </as-split-area>

    <as-split-area size="50">
        <as-split *ngIf="view==carto" direction="vertical">
            <as-split-area size="50">
                <app-cartoatc mapName="Map1" initialLayers="Ref1"></app-cartoatc>
            </as-split-area>
            <as-split-area size="50">
                <app-cartoatc mapName="Map2" initialLayers="Ref2"></app-cartoatc>
            </as-split-area>
        </as-split>
    </as-split-area>
</as-split>