<as-split *ngIf="view==carto" direction="horyzontal">

    <as-split-area size="50">
        <app-gongleaflet-splitter></app-gongleaflet-splitter>
    </as-split-area>

    <as-split-area size="50">
        <as-split *ngIf="view==carto" direction="vertical">
            <as-split-area size="50">
                <app-mapoptions mapName="Map1"></app-mapoptions>
            </as-split-area>
            <!-- <as-split-area size="50">
                <app-mapoptions mapName="Map2" initialLayers="Ref2"></app-mapoptions>
            </as-split-area> -->
        </as-split>
    </as-split-area>
</as-split>